<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stocks App</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="/Trade/Index">Stocks App</a>
                <div class="navbar-nav">
                    <a class="nav-link" href="@Url.Action("Index", "Trade")">Trade</a>
                    <a class="nav-link" href="@Url.Action("Orders", "Trade")">Orders</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <div class="container">
            <span>&copy; 2025 - Stocks App</span>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

